* {
  margin: 0;
  padding: 0;
  box-align: border-box;
}

body {
  background-image: linear-gradient(to bottom, #1573b1, #1566b1);
  background-size: contain;
  height: 100vh;
}

header {
  background-image: url(images/Studio_Ghibli_logo.png);
  background-color: #1573b1;
  background-position: center right;
  background-repeat: no-repeat;
  height: 256px;
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  transition: 2s;
}

header:hover {
  height: 576px;
  transition: 2s;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

#wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: row-reverse;
}

aside {
  background: rgb(43, 43, 43);
  flex-basis: 16em;
  flex-grow: 15%;
}

li {
  list-style: none;
  padding: 4px 16px;
  border-bottom: 1px solid black;
  color: whitesmoke;
  font-size: 1.2rem;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(65, 65, 65);
}

/* SECTION */
#display {
  padding: 8px 24px;
  margin: 16px;
  width: auto;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #111;
  display: none;
  flex: 7;
}

.filmImg {
  padding: 8px;
  display: block;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 2px solid grey;
}

.descriptionP {
  line-height: 20px;
  padding: 8px;
  margin: 0 24px;
  background: rgb(209, 209, 209);
  border-radius: 10px;
}

.year {
  font-weight: bold;
  text-align: right;
  padding: 4px;
  margin-right: 20px;
  border-bottom: 2px solid black;
}
